@charset "utf-8";
a{
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* ====================================== */

body {
    background-color: black;
}
.wrapper {
    width: 99vw;
    height: 98vh;
    position: relative;
}
.wrapper .wrap {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 1152px;
    height: 720px;
    background: url(./img/bg.jpg);
    background-size: cover;
}

.wrapper .wrap div {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
    line-height: 5px;
}
.wrapper .wrap h1 {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    transform: translate(-50%,-50%);
    position: absolute;
    bottom:-30px;
    left: 50%;
    color:white;
    background-color: rgb(66, 66, 66);
}

/* 조각 */
.wrapper .wrap div.bt1 {
    top: 204px;
    left: 866px;
}
/* 묘약 */
.wrapper .wrap div.bt2 {
    top: 271px;
    left: 683px;
}
/* 첼로 */
.wrapper .wrap div.bt3 {
    top: 452px;
    left: 611px;
}
/* 사진기 */
.wrapper .wrap div.bt4 {
    top: 404px;
    left: 239px;
}
/* 몽키스페너 */
.wrapper .wrap div.bt5 {
    top: 605px;
    left: 203px;
}
/* 의료기기 버튼 */
.wrapper .wrap div.bt6 {
    top: 463px;
    left: 327px;
}
/* 메스 */
.wrapper .wrap div.bt7 {
    top: 444px;
    left: 1090px;
}
/* 랜덤 */
.wrapper .wrap div.bt8 {
    top: 601px;
    left: 688px;
}
/* 꽝 */
.wrapper .wrap div.bt9 {
    top: 100px;
    left: 104px;
}
.wrapper .wrap div.bt10 {
    top: 296px;
    left: 460px;
}
.wrapper .wrap div.bt11 {
    top: 365px;
    left: 311px;
}
.wrapper .wrap div.bt12 {
    top: 544px;
    left: 498px;
}
.wrapper .wrap div.bt13 {
    top: 506px;
    left: 145px;
}
.wrapper .wrap div.bt14 {
    top: 187px;
    left: 719px;
}
.wrapper .wrap div.bt15 {
    top: 285px;
    left: 746px;
}


#modalBody {
    width: 400px;
    height: 400px;
    padding: 30px 30px;
    margin: 0 auto;
    border: 0x solid #777;
    background-color: #000000a1;
  }

  
  /* ---------------------------------- */
  #popupBtn1 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap1 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn1 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn2 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap2 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn2 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn3 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap3 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn3 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn4 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap4 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn4 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn5 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap5 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn5 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn6 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap6 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn6 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn7 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap7 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn7 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn8 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap8 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn8 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn9 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap9 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn9 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn10 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap10 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn10 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}

/* ------- */

#popupBtn11 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap11 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn11 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}
/* ------- */

#popupBtn12 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap12 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn12 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}
/* ------- */

#popupBtn13 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap13 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn13 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}
/* ------- */

#popupBtn14 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap14 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn14 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}
/* ------- */

#popupBtn15 {
    width: 10px;
    height: 10px;
    background-color:rgba(0,0,0,0);
    border:0px solid black
}

#modalWrap15 {
    display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#closeBtn15 {
    float:right;
    font-weight: bold;
    color: #ffffff;
    font-size:25px;
}
